<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../css/chatroom.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(function(){
			var host = '{{config.host}}';
			var socket = io.connect(host + '/roomlist');

			socket.on('connect', function(){
				console.log('Connection established');
			});

			$(document).on('click', '#create', function(){
				var room_name = $('.newRoom').val();
				if (room_name !== '') {
					var room_number = parseInt(Math.random() * 10000);
					socket.emit('newroom', {room_name: room_name, room_number: room_number});
					$('.newRoom').val('');
				}
			});

			socket.on('roomupdate', function(data){
				var chatRoomObj = JSON.parse(data);
				for(i = 0; i < chatRoomObj.length; i++) {
					console.log('Room Number: ' + chatRoomObj[i].room_number);
					$('.roomlist').prepend('<a href="room/' + chatRoomObj[i].room_number + '"><li>' + chatRoomObj[i].room_name + '</li></a>');
				}
			});
		})
	</script>
</head>
<body>
	<div
		class="fb-like"
		data-share="true"
		data-width="450"
		data-show-faces="true">
	</div>
	<div class="cr-container">
		<h1 class="cr-title">ChatCAT</h1>
		<div class="cr-userbox">
			<img src="{{user.profilePic}}" class="userPic">
			<h3 class="userName">{{user.fullName}} | <a href="/logout">Logout</a></h3>
		</div>
		<div class="cr-newroom">
			<input type="text" class="newRoom" autocomplete="off">
			<button id="create">Create Room</button>
		</div>
		<div class="cr-roomlist">
			<ul class="roomlist">

			</ul>
		</div>
	</div>
</body>
</html>