<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCAT</title>
	<link rel="stylesheet" href="../css/room.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<div class="rm-container">
		<h1 class="rm-title">ChatCAT</h1>
		<div class="rm-userbox">
			<img src="../images/profilepic.jpg" class="userPic">
			<h3 class="userName">{{user.fullName}} | <a href="#">Logout</a><a href="#">More Chatrooms</a></h3>
		</div>
		<div class="rm-roomname">
			<h5>{{room_name}}</h5>
		</div>
		<div class="rm-messages">
			<ul class="messages">
				<li>
					<div class="msgbox">
						<div class="pic"><img src="../images/profilepic.jpg">Sachin Bhatnagar</div>
						<div class="msg"><p>Hi there this looks nice !</p></div>
					</div>
				</li>
				<li>
					<div class="msgbox">
						<div class="pic"><img src="../images/profilepic.jpg">Sachin Bhatnagar</div>
						<div class="msg"><p>Hi there this looks nice !</p></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="rm-users">
			<ul class="users">
				
			</ul>
		</div>
		<div class="rm-newmessage">
			<input type="text" class="newmessage" autocomplete="off" placeholder="Type in your message and press enter !">
			
		</div>
	</div>
</body>
</html>